# Tarea 1 Bases de Datos 2022-1 Grupo 17

## Integrantes:
* Vicente Peñailillo Chamorro - 202073080-6
* Cristóbal Pérez Bórquez - 202073105-5
* Gabriel Pinto Fernández - 201873052-1

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (8.1.1)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.35-cp39-cp39-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 14.1 MB/s eta 0:00:00
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.3/42.3 KB ? eta 0:00:00
Requirement already satisfied: six in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: stack-data in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: jedi>=0.16 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: backcall in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp39-cp39-win_amd64.whl (101 kB)
     -------------------------------------- 101.9/101.9 KB 6.1 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
  Running setup.py install for prettytable: started
  Running setup.py install for prettytable: finished with status 'done'
Successfully installed greenlet-1.1.2 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.35 sqlparse-0.4.2
Requirement already satisfied: sqlalchemy in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gabriel\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 18.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     -------------------------------------- 789.1/789.1 KB 8.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for names, since package 'wheel' is not installed.
Installing collected packages: names
  Running setup.py install for names: started
  Running setup.py install for names: finished with status 'done'
Successfully installed names-0.3.0

## Importar dependencias

In [5]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [17]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:clave@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:clave@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [18]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="127.0.0.1",
   user="postgres",
   dbname='postgres',
   password="clave"
)

print(connection)
cursor = connection.cursor()

OperationalError:

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [87]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER NOT NULL GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Creadores"

In [88]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [89]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [90]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [91]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [92]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [93]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** Se seleccionan el id y nombre del creador correspondiente a la primera entrada desde la tabla Creadores filtrada por un estilo X y en orden descendente en función de su popularidad.

In [12]:
%%sql
SELECT
    id_creador AS "Id", nombre AS "Creador"
FROM
    Creadores
WHERE
    estilo = 'Anime'
ORDER BY
    popularidad Desc
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(11, 'Wanda')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** Se selecciona el nombre y el numero de precios asociados al ID correspondiente de cada NFT desde una tabla generada a partir de "precio_nft" y "nft", donde se agrupan la cantidad de precios que ha tenido cada NFT. Posteriormente se ordenan por ID de menor a mayor.

In [27]:
%%sql
SELECT
    nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS "Cantidad de precios"
FROM
    precio_nft INNER JOIN nft ON precio_nft.id_nft=nft.id_nft
GROUP BY
    precio_nft.id_nft,
    nft.nombre
ORDER BY
    precio_nft.id_nft ASC;

 * postgresql://postgres:***@localhost:5432/postgres
121 rows affected.

[('Crypto Raptors', 1),
 ('The Binary Girl', 4),
 ('Sphere Art', 4),
 ('Fight Punks', 2),
 ('Artistic Alpha', 1),
 ('Digital Unicorns', 1),
 ('Bling Bits', 1),
 ('Crypto Potato', 4),
 ('Futuristic Realism', 1),
 ('Nova Auroras', 4),
 ('Dreamy Imaginations', 3),
 ('Reflected Light', 6),
 ('Spells of Genesis', 2),
 ('Crypto Felines', 1),
 ('Dose of Art', 2),
 ('To The Moon', 4),
 ('Artful Antlers', 3),
 ('Butterfly Dust', 1),
 ('Depressed Dragons', 1),
 ('Crypto Diamonds', 2),
 ('Healthy Hedgehogs', 1),
 ('Crypto Jackpot', 5),
 ('Crypto Boom', 2),
 ('Lucky Lizards', 2),
 ('Rockin Crypto', 3),
 ('Crystalline Canyon', 4),
 ('Koala Kickers', 3),
 ('Mountain of Clouds', 3),
 ('Blizz Blizzard', 2),
 ('Cryptonaut', 1),
 ('Mike Halloween Yodelers', 3),
 ('The Teacup Pomeranian', 1),
 ('Awesome Concept', 2),
 ('Aliens Abduction', 3),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Hilarious Horses', 5),
 ('1-Love', 3),
 ('0NOZER0', 3),
 ('Meteorite NFT', 1),
 ('Bee Token', 3),
 ('Elephant Treasure Hunt', 1),
 ('Crypto Life', 1),
 ('1NiTRO', 5),
 ('Dust Rift', 4),
 ('Tokenized Superheroes', 1),
 ('Techno Abstract Aesthetics', 3),
 ('Digi Gods', 2),
 ('Panther NFT', 1),
 ('Cypherpunk Samurai', 3),
 ('Rich Rhinos', 2),
 ('Crypto Punked', 3),
 ('Funny Frogs', 5),
 ('Bit NFT', 2),
 ('Phonetic Phoenix', 1),
 ('Flame Stinger', 2),
 ('Fight For The Title', 5),
 ('Koalas in Love', 2),
 ('Touchdown', 3),
 ('Resilient Rats', 1),
 ('Bloom of Flowers', 3),
 ('NFT Lord', 1),
 ('Fair Coin', 2),
 ('Light Embrace', 5),
 ('Crypto Bunny Ranch', 3),
 ('Crypto Pigeon Race', 2),
 ('Wowoo World', 3),
 ('Crypto Club', 3),
 ('Crypto Kitties Of War', 3),
 ('Visionary Crypto', 3),
 ('Women Power', 3),
 ('Rainbows Ends', 4),
 ('Cards of Polo', 2),
 ('Crypto Kitties', 3),
 ('Busy Bats', 3),
 ('0xHile', 2),
 ('Non Fungible Nibbles', 1),
 ('Pandamonium', 3),
 ('3D Me', 1),
 ('Midas NFTs', 1),
 ('Graceful Gorillas', 2),
 ('United Crypto Token (UCT)', 4),
 ('Crypto Art Gallery', 5),
 ('Dark Horse Lady', 1),
 ('Block View', 1),
 ('Arty Arts', 1),
 ('White Storm', 2),
 ('Krypto Queen', 2),
 ('Clever Chimp', 1),
 ('Qat Tree Unicorn', 5),
 ('Anna Frozen Entertainers', 4),
 ('Artificial Rocks', 1),
 ('0NOCH0', 1),
 ('Flame Blade', 1),
 ('The Gold Betta', 3),
 ('Elite Fur Dog Race Club', 1),
 ('Dust Sifter', 2),
 ('Moonlit Butterfly', 2),
 ('Madame Witch', 3),
 ('Bitsy', 3),
 ('Hive City', 1),
 ('Burger Bits', 1),
 ('Cyberboxer', 3),
 ('Calm Crows', 4),
 ('Crumbs NFT', 4),
 ('Mint Chocolates', 1),
 ('Atollon Coral', 3),
 ('Dapper Dinos', 1),
 ('Flame Cats', 2),
 ('Addictive Animals', 3),
 ('Alice Wonderland Frozen Carolers', 2),
 ('Coin Dance', 2),
 ('Giant Coin', 2),
 ('Silver Lining Pixy', 4),
 ('Headed Shark Attack', 1),
 ('Ultimate League Of Paragon', 4),
 ('Darker Clouds', 1),
 ('Blue Mood Chip', 1),
 ('Brush Point', 3),
 ('Enthusiastic Elephants', 6),
 ('Ultra Cool Dogs', 5),
 ('Pink Sports Cars', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Se selecciona el nombre y tipo en la primera entrada de una tabla generada a partir de juntar el resultado de unir la tabla "NFT" con "precio_nft" con la tabla "tipos_nft" donde el precio de el NFT sea igual al maximo precio de la columna "precio" en la tabla "precio_nft".

In [46]:
%%sql
SELECT
    nft.nombre AS "NFT", tipos_nft.nombre AS "Tipo"
FROM (
    (nft INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft)
    INNER JOIN tipos_nft ON nft.id_tipo=tipos_nft.id_tipo
)
WHERE
    precio_nft.Precio = (
    SELECT MAX(precio_nft.precio)
    FROM Precio_nft
LIMIT 1
);

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Fight For The Title', 'Modelo 3D')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** Se selecciona el nombre y el apellido de la tabla de Usuarios, para ver cuantos NFT tienen los usuarios, se une las tablas de Usuarios y Usuario_tiene_NFT con un INNER JOIN, con la condición que los ID del usuario coincidan en ambas tablas, posteriormente se juntan los usuarios y se ordena según cuantos NFT tiene cada usuario, yendo del mayor al menor. Finalmente, solo se muestra la primera fila de la tabla resultante, pues ese es el usuario con más NFT.

In [18]:
%%sql
SELECT
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios INNER JOIN Usuario_tiene_NFT
ON
    Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
GROUP BY
    Usuarios.ID_usuario
ORDER BY
    COUNT(Usuario_tiene_NFT.id_nft) Desc
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Debbie', 'Smith')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se selecciona el id y nombre de la primera entrada en la tabla resultante de juntar "precio_nft" con "nft" respecto al id y nombre de cada NFT ordenados por la cantidad de precios asociados a cada id de mayor a menor.

In [47]:
%%sql
SELECT
    nft.ID_nft AS "ID", nft.nombre AS "NFT"
FROM
    precio_nft INNER JOIN nft ON precio_nft.id_nft=nft.id_nft
GROUP BY
    nft.ID_nft,
    precio_nft.id_nft,
    nft.nombre
ORDER BY
    COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(14, 'Reflected Light')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** Se selecciona el nombre y apellido de la tabla Usuarios, se unen las tablas de Usuario y Usuario_tiene_NFT con un LEFT JOIN, esto con dos condiciones, que coincidan los ID del usuario en las dos tablas y que el id_usuario de la tabla formada esté vacia, esto es resultado de usar LEFT JOIN y no INNER JOIN, por lo que los que no tenían nft tienen las dos nuevas columnas vacias.

In [9]:
%%sql
SELECT
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM 
    Usuarios LEFT JOIN Usuario_tiene_NFT
ON
    Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
WHERE
    Usuario_tiene_NFT.id_usuario IS NULL;

128 rows affected.

[('Melissa', 'Behanna'),
 ('Susanna', 'Moss'),
 ('Gerald', 'Marshall'),
 ('Michael', 'Smith'),
 ('Robert', 'Robertson'),
 ('Maxine', 'Thomas'),
 ('Neil', 'Burks'),
 ('Arturo', 'Yarbrough'),
 ('Yuko', 'Sapp'),
 ('Jason', 'Valencia'),
 ('Nadine', 'Redenius'),
 ('Laura', 'Jemison'),
 ('Martin', 'Ortega'),
 ('Pauline', 'Saenz'),
 ('Mark', 'Schumacher'),
 ('James', 'Castro'),
 ('Cecil', 'Shirley'),
 ('Lucy', 'Lytle'),
 ('Marcelo', 'Moon'),
 ('Joan', 'Benner'),
 ('Laura', 'Story'),
 ('Jessica', 'Gust'),
 ('Martin', 'Steil'),
 ('Bridget', 'Johndrow'),
 ('Thomasina', 'Warren'),
 ('Mathew', 'Thomas'),
 ('John', 'Chau'),
 ('Travis', 'Flowers'),
 ('Eric', 'Rosa'),
 ('Melissa', 'Uecker'),
 ('Lisa', 'Rice'),
 ('Tammi', 'Powell'),
 ('Christopher', 'Williams'),
 ('Roberto', 'Wenzel'),
 ('Sylvia', 'Bivens'),
 ('Mike', 'Martin'),
 ('Shawn', 'Nicolet'),
 ('Jessica', 'Connelly'),
 ('Lindsay', 'Sharp'),
 ('Arthur', 'Schwandt'),
 ('John', 'Chinn'),
 ('Thomas', 'Appleton'),
 ('Kimberly', 'Mclaughlin'),
 ('Michael', 'Hamel'),
 ('Melissa', 'Dickens'),
 ('Robert', 'Rogers'),
 ('William', 'Orlando'),
 ('Oma', 'Lyons'),
 ('Kathy', 'Sandoval'),
 ('Jaime', 'Hansen'),
 ('Liz', 'Cantley'),
 ('Antonio', 'Hunter'),
 ('Ray', 'Powell'),
 ('Katherine', 'Wright'),
 ('Frances', 'Lapointe'),
 ('Janice', 'Jones'),
 ('Steven', 'Batarse'),
 ('Billy', 'Robinson'),
 ('Keith', 'Rowe'),
 ('Wayne', 'Real'),
 ('Sean', 'Zurita'),
 ('Christine', 'Rogge'),
 ('Marcia', 'Dromgoole'),
 ('Alex', 'Ober'),
 ('Rachel', 'Hildebrand'),
 ('Marlene', 'Sera'),
 ('Yvette', 'Gibbs'),
 ('Amy', 'Mccool'),
 ('Phyllis', 'Walker'),
 ('Daniel', 'Duppstadt'),
 ('Debbie', 'Waters'),
 ('Jeffery', 'Hanson'),
 ('Theresa', 'Williams'),
 ('Jimmy', 'Mceachern'),
 ('Nancy', 'Ochoa'),
 ('Marian', 'Hawkins'),
 ('Kimberley', 'Patterson'),
 ('Glen', 'Jackson'),
 ('Patricia', 'Petrie'),
 ('Jennifer', 'Santiago'),
 ('Tonya', 'Popielarczyk'),
 ('Louise', 'Rohrbach'),
 ('Miles', 'Baumann'),
 ('Sadie', 'Ortega'),
 ('Peggy', 'Payne'),
 ('George', 'Martinez'),
 ('Cleo', 'Milan'),
 ('Mike', 'Isom'),
 ('Thomas', 'Davis'),
 ('Charles', 'Gisin'),
 ('Patricia', 'Horton'),
 ('Kurt', 'Cohen'),
 ('Robert', 'Booker'),
 ('Patricia', 'Brandt'),
 ('Roberta', 'Brooker'),
 ('Jackie', 'Peterson'),
 ('Hilary', 'Ford'),
 ('Alex', 'Douglas'),
 ('James', 'Lee'),
 ('Carol', 'Geraldo'),
 ('Anthony', 'Tabak'),
 ('Darrell', 'Crawford'),
 ('Karen', 'Holmes'),
 ('Janice', 'Bisard'),
 ('Maria', 'Lindsay'),
 ('Gabriel', 'Mederos'),
 ('Shawn', 'Stokes'),
 ('William', 'Morrison'),
 ('Shawn', 'Harian'),
 ('Charles', 'Barrett'),
 ('John', 'Prucha'),
 ('Robert', 'Carpenter'),
 ('Michael', 'Struebing'),
 ('Alice', 'Christensen'),
 ('Roger', 'Eckstein'),
 ('Jennifer', 'Elliott'),
 ('Teri', 'Moore'),
 ('Mary', 'Horton'),
 ('Clark', 'Shepherd'),
 ('Stephen', 'Morris'),
 ('Junior', 'Johnson'),
 ('Ester', 'Quarles'),
 ('Jesus', 'Blecha'),
 ('Agnes', 'Oconnor'),
 ('Don', 'Moorman'),
 ('Carolyn', 'Tucker'),
 ('Nicholas', 'Boore'),
 ('Cheryl', 'Keil')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Se selecciona el nombre de una tabla nueva llamada "nft_2", se hace INNER JOIN entre la tabla Precio_NFT y una tabla llamada "nft_ult_fecha", en la cual está el id de los nft y la fecha mas reciente, agrupandose según el id, este JOIn es con la condición de que coincidan los id del nft y que la fecha del nft sea la ultima de este; entonces se realiza otro INNER JOIN con la tabla "nft_2", en donde esta el nombre, tipo e id del nft, el JOIN tiene la condición de que coincidan los id.
Se usa la condición de que solo se cuentan los nft del id_tipo "x" (en este caso es el 2), se ordenan según el precio de manera descendente, o sea mayor a menor, y se muestran los primeros 4.

In [15]:
%%sql
SELECT 
    nft_2.nombre AS "NFT"
FROM 
    (Precio_NFT INNER JOIN (
        SELECT 
            id_nft, MAX(Fecha) AS "ultima_fecha" 
        FROM 
            precio_nft 
        GROUP BY 
            id_nft
    ) AS "nft_ult_fecha" ON Precio_NFT.id_nft = nft_ult_fecha.id_nft AND Precio_NFT.fecha= nft_ult_fecha.ultima_fecha
    INNER JOIN (
        SELECT
            NFT.nombre, NFT.id_tipo, NFT.ID_nft
        FROM
            NFT) AS "nft_2" ON nft_2.ID_nft = nft_ult_fecha.id_nft
    )
WHERE
    nft_2.id_tipo = 2
ORDER BY 
    Precio_NFT.precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Crypto Jackpot',), ('Flame Cats',), ('Arty Arts',), ('Crypto Boom',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Selecciona el nombre del nft de la tabla NFT y selecciona el precio del nft de la tabla Precio_NFT, haciendo también un INNER JOIN de las tablas, con la condición de que el id del nft coincida en ambas tablas, además la fecha debe estar entre el 31-12-2016 y el 01-01-2020 sin contar el dia en los extremos.

In [8]:
%%sql
SELECT
    nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM
    nft INNER JOIN precio_nft
ON
    nft.id_nft = precio_nft.id_nft
WHERE
    precio_nft.fecha BETWEEN '2016-12-31' AND '2020-01-01';

 * postgresql://postgres:***@localhost:5432/postgres
95 rows affected.

[('Brush Point', 97168),
 ('Crypto Felines', 97817),
 ('Mint Chocolates', 72502),
 ('Ultimate Iconic Crypto (IUC)', 10441),
 ('Calm Crows', 61208),
 ('Fight For The Title', 73916),
 ('Reflected Light', 36112),
 ('Panther NFT', 62006),
 ('Light Embrace', 75087),
 ('Enthusiastic Elephants', 46836),
 ('Crypto Jackpot', 95847),
 ('Crypto Punked', 9201),
 ('Fight For The Title', 9407),
 ('Busy Bats', 85715),
 ('Ultra Cool Dogs', 77016),
 ('Qat Tree Unicorn', 16746),
 ('Anna Frozen Entertainers', 56133),
 ('Cards of Polo', 27027),
 ('Coin Dance', 51403),
 ('0NOZER0', 92358),
 ('Crypto Jackpot', 70659),
 ('Brush Point', 41698),
 ('1-Love', 66471),
 ('Rockin Crypto', 68678),
 ('Non Fungible Nibbles', 10325),
 ('Sphere Art', 47819),
 ('Reflected Light', 30948),
 ('Artificial Rocks', 92801),
 ('Fight For The Title', 99787),
 ('Resilient Rats', 56269),
 ('To The Moon', 6784),
 ('Meteorite NFT', 90829),
 ('Enthusiastic Elephants', 82957),
 ('1NiTRO', 92913),
 ('Light Embrace', 83895),
 ('1-Love', 27106),
 ('Qat Tree Unicorn', 29539),
 ('White Storm', 56385),
 ('Cypherpunk Samurai', 43125),
 ('Krypto Queen', 48290),
 ('Sphere Art', 41191),
 ('Ultimate Iconic Crypto (IUC)', 44965),
 ('Awesome Concept', 31904),
 ('The Gold Betta', 51962),
 ('Wowoo World', 8500),
 ('Artful Antlers', 68079),
 ('Crystalline Canyon', 31565),
 ('Flame Stinger', 24164),
 ('Crypto Bunny Ranch', 71510),
 ('Dose of Art', 20355),
 ('Bling Bits', 25200),
 ('Spells of Genesis', 99422),
 ('Blizz Blizzard', 1874),
 ('Reflected Light', 17340),
 ('Dust Sifter', 51356),
 ('Visionary Crypto', 1299),
 ('Busy Bats', 74820),
 ('Bitsy', 56827),
 ('Koalas in Love', 54354),
 ('Phonetic Phoenix', 26637),
 ('Pandamonium', 28525),
 ('Wowoo World', 88580),
 ('Touchdown', 14849),
 ('Flame Blade', 23422),
 ('Darker Clouds', 49449),
 ('Dust Rift', 27747),
 ('Crumbs NFT', 46790),
 ('Headed Shark Attack', 69636),
 ('Dust Sifter', 21963),
 ('Ultimate League Of Paragon', 44979),
 ('Techno Abstract Aesthetics', 88291),
 ('Rich Rhinos', 10710),
 ('The Binary Girl', 54764),
 ('Block View', 62135),
 ('Lucky Lizards', 35361),
 ('1-Love', 64130),
 ('Silver Lining Pixy', 56581),
 ('The Teacup Pomeranian', 78182),
 ('Cypherpunk Samurai', 1827),
 ('Sphere Art', 15827),
 ('Anna Frozen Entertainers', 5979),
 ('Dreamy Imaginations', 17058),
 ('Koala Kickers', 95084),
 ('Anna Frozen Entertainers', 36742),
 ('Crypto Potato', 10161),
 ('Mountain of Clouds', 85418),
 ('Crypto Punked', 36832),
 ('Aliens Abduction', 26655),
 ('United Crypto Token (UCT)', 56023),
 ('NFT Lord', 65191),
 ('Flame Cats', 14229),
 ('Bit NFT', 23177),
 ('Crypto Pigeon Race', 89661),
 ('Ultimate League Of Paragon', 8310),
 ('Calm Crows', 80521)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Selecciona el nombre y apellido de la tabla de Creadores, además del total de NFT que se vendieron, realizando un INNER JOIN entre los Creadores y una tabla llamada "tabla", que tiene los ID del nft y creador de la tabla del NFT, agrupados según el ID del nft con la condición de que los ID del creador coincidan en ambas tablas, luego se hace otro INNER JOIN con una tabla llamada "historial", que tiene el ID del nft y su precio, provenientes de la tabla de Precio_NFT, con la condición de que los ID del nft sean iguales.
Al final, se agrupan por los nombres y apellidos de los creadores, y se ordenan según la cantidad de precios que han tenido sus nft, pues es las veces que se ha vendido uno de sus nft, ordenandose de mayor a menor, para solo mostrar el primero.

In [16]:
%%sql
SELECT 
    Creadores.nombre AS "Nombre", Creadores.apellido AS "Apellido", COUNT(Historial.precio) AS "Cantidad"
FROM 
    (Creadores INNER JOIN (
        SELECT 
            ID_nft, ID_creador
        FROM 
            NFT
        GROUP BY 
            ID_nft
    ) AS "tabla" ON Creadores.ID_creador = tabla.ID_creador
    INNER JOIN (
        SELECT
            ID_nft, precio
        FROM
            Precio_NFT) AS "historial" ON tabla.ID_nft = historial.ID_nft
    )
GROUP BY
    Creadores.nombre,
    Creadores.apellido
ORDER BY
    COUNT(historial.precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Mary', 'Ullmann', 42)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Se seleccionan el nombre y valor de la primera entrada de una tabla donde el nombre del creador es X y se ordena de mayor precio a menor. Esta tabla se obtiene de unir la tabla precio_nft con ella misma filtrada por el valor relacionado a la fecha mas reciente de cada nft y se junta con la tabla nft a partir del id para obtener el id_creador y asi relacionar el nombre del creador con el id de este en la tabla NFT.

In [14]:
%%sql
SELECT 
    t4.nft AS "NFT", t1.precio AS "Valor"
FROM 
    (precio_nft AS "t1" 
    INNER JOIN (
        SELECT 
            id_nft, MAX(Fecha) AS "fecha" 
        FROM 
            precio_nft 
        GROUP BY 
            id_nft
    ) AS "t2" ON t1.id_nft = t2.id_nft AND t1.fecha=t2.fecha
    INNER JOIN (
        SELECT
            t3.id_nft, t3.nombre AS "nft", creadores.nombre 
        FROM 
            nft AS "t3" INNER JOIN creadores 
        ON t3.id_creador = creadores.id_creador) AS "t4" ON t1.id_nft=t4.id_nft
    )
WHERE
    t4.nombre='Tommy'
ORDER BY 
    t1.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Bitsy', 45399)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';